
#app .arrow:first-child {
  opacity: 0.4;
}
#app .arrow:nth-child(2) {
  opacity: 0.7;
}
.arrow {
  padding-top: 0px;
}
.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #9e9b9a;
  display: inline-block;
}
.arrow:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #9e9b9a;
  display: inline-block;
}
.arrowSliding {
  animation: slide 4s linear infinite;
}
.delay1 {
  animation-delay: 0s;
}
.delay2 {
  animation-delay: 1s;
}
.delay3 {
  animation-delay: 2s;
}
.delay4 {
  animation-delay: 3s;
}


@keyframes slide {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.Box {
  height: 1px;
  width: 1px;
  margin: 10px;
  background: #f6f7f8;
 
}
.Shine {
  display: inline-block;
  background: 
    linear-gradient(#f2f2f2 40%, #dddddd 50%, #f2f2f2 60%);
  background-size:200% 200%;
  background-repeat: no-repeat;
  animation:placeholderShimmer 2s infinite linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position:100% 100%; /*OR bottom right*/
  }
  100% {
    background-position:0 0; /*OR top left*/
  }
}







.loading-bars{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    rotate: 180deg;
}

.bar{
    width: 30px;
    height: 30px;
    background: whitesmoke;
    margin: 10px;
    animation: wave 1.7s ease-in-out infinite;
    border-radius: 20px;
}

.bar:nth-child(2){
  animation-delay: 0.2s;
}

.bar:nth-child(3){
  animation-delay: 0.4s;
}

.bar:nth-child(4){
  animation-delay: 0.6s;
}

.bar:nth-child(5){
  animation-delay: 0.8s;
}

.bar:nth-child(6){
  animation-delay: 1s;
}

@keyframes wave{

  0%{
    height: 20px;
  }

  50%{
    height: 130px;
  }

  100%{
    height: 20px;
  }

}

@keyframes fade-text{
   0%{
     opacity: 0;
   }
    
   50%{
     opacity: 1;
   }
   
   100%{
     opacity: 0;
   }
}